@import 'constants';

* {
   @include general;
}

body{
    background-color: $kleur-grijs;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-align:center;
}
h1{
    font-size: 1.5em;
    font-weight: lighter;
    color: $font-wit;
}

a{
    color: #aeb0fa;
}

i{
    font-size: 20px;
    color: $font-wit;
}


// deel 1


.block1{
    @include outline();
    display: flex;
    background-color: white;
    margin:20px;
    justify-content: center;
    flex-direction: column;
    width: 400px;
        .tekst{
            padding:50px;
            font-size: 1.2em;
            color: midnightblue;
            text-align: center;
        }
        .image{
            position: relative;
            display: flex;
            height: 100px;
            justify-content:space-around;
            img{
                width: auto;
                border: 5px solid rgb(253, 251, 251);
                border-radius: 50%;
                position: absolute;
            }
        }
        .footer{
            background-color: #686de0;
            padding: 75px 0px 30px 0px;
            text-align: center;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius : 20px;
        }
}


//deel2

.block2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding:20px;
    .images{
        position: relative;
        width: 30%;
        margin: 10px;
    }
    .foto{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .knop{
        border-radius: 5px;
        padding: 5px;
        background-color: white;
        color: black;
        font: 20px;
        position: absolute;
 
    }
    .overlay{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: #1d414d;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;    
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 1s ease;
        border-radius: 10px;
    }
}

.images:hover .overlay {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .images {
      flex: 45%;
    }
  }


@media screen and (max-width: 400px) {
    .images {
      flex: 100%;
    }
  }


  //deel3
.block3{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    div{
      @include social;
      animation :hover ;
    }
    .blog{
        background-color: #e17b77;
        a{
            opacity: 0;
            }
        }
    .facebook{
        background-color: #3b5998;
        a{
            opacity: 0;
            }
        }
    .twitter{
        background-color: #00aced;
        a{
            opacity: 0;
            }
    }
    .github{
        background-color: #333;        
        a{
            opacity: 0;
            }
    }
    .linkedin{
        background-color: #007bb6;
        a{
            opacity: 0;
            }
    }

    div:hover{
        width: 200px;
    }
    span a:hover{
            transition-delay: 0.5s;
            padding:15px;
            opacity: 1;
            color:white;
    
        }
    
   
}

  